In [2]:
import pandas as pd        # pandas로 진행

# 데이터프레임 자료를 csv 파일로 저장 : df.to_csv("./dataset/to_csv_sa")

In [3]:
data = {'name': ['Jerry', 'Riah', 'Paul'] ,    # csv에 저장할 내용 입력
       'algol' : ['a', 'b', 'c']}
df = pd.DataFrame(data)

In [4]:
df       # 현재 만들어진(작성된) 내용

    name algol
0  Jerry     a
1   Riah     b
2   Paul     c

In [ ]:
df.to_csv("./dataset/to_csv_sa")    # 이렇게 돌리면 현재 파일 -> dataset 파일
                                    # -> to_csv_sa 파일이 생성됨

# 데이터프레임 자료를 excel 파일로 저장 
### 하나의 내용만 저장 = df.to_excel("./dataset/to_excel")

## 두 개 이상의 내용을 한 번에 저장

In [5]:
# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df1, df2에 저장 

data1 = {'name' : [ 'Jerry', 'Riah', 'Paul'],
         'algol' : [ "A", "A+", "B"],
         'basic' : [ "C", "B", "B+"],
          'c++' : [ "B+", "C", "C+"]}

data2 = {'c0':[1,2,3], 
         'c1':[4,5,6], 
         'c2':[7,8,9], 
         'c3':[10,11,12], 
         'c4':[13,14,15]}

In [6]:
df1 = pd.DataFrame(data1)      # 위에서 만든 데이터를 pandas의 DataFrame을 
df2 = pd.DataFrame(data2)      # 이용해서 저장

In [7]:
# df1의 'name' 컬럼을 인덱스로 설정

df1.set_index('name', inplace=True)

In [8]:
# df2의 'c0' 컬럼을 인덱스로 설정

df2.set_index('c0', inplace=True)

In [ ]:
# ExcelWriter를 사용하여 두 개의 파일을 하나의 엑셀 파일에 저장

writer = pd.ExcelWriter("./dataset/two_excel.xlsx")
df1.to_excel(writer, sheet_name='df1')       # 시트 하나에 한 데이터를 넣는다.
df2.to_excel(writer, sheet_name='df2')    
writer.save()                                # 파일 저장