In [2]:
# 226p 1번

def f(x):
    return 2 * x + 1
print(f(10))
print()

def f(y):
    return y ** 2 + 2 * y + 1
print(f(10))

21

121

In [6]:
# 226p 2번

def mul(*values):
    result = 1
    for i in values:          # *valuse 가 사용되면 range(len())을 사용하지 않고
        result *= i           # value를 직접 넣으면 된다.
    return result
print(mul(5, 7, 9, 10))

3150

In [22]:
# 243p 1번

# 재귀함수 : 함수를 정의하는데 자신을 집어 넣어 정의하는 함수

def flatten(data):
    result = []
    for i in data:
        if type(i) == list:
            result += flatten(i)
        else:
            result.append(i)

    return result

In [23]:
example = [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]

print('원본 : ', example)
print('변환 : ', flatten(example)) # [1, 2, 3, 4, 5, 6, 7, 8, 9]

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
244p 2번

In [ ]:
def flatten(data):
    for i in data:
        if i